@import '../../index.scss';

.content {
  overflow: hidden;

  &__list {
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 1rem;
    // width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__item {

    & img {
      width: 100%;
    }
  }
}