@import '../../index';

.footer {
  position: relative;
  width: 100%;
  background-color: $color-black;
  // background-color: #1a1a1a;
  min-height: 250px;
  // padding: 20px 50px;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 4;
    
    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      min-width: 300vw;
      min-height: 300vw;
      background-color: #FCFFF5;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    &::before {
      bottom: 20vh;
      border-radius: 45%;
      animation-duration: 10s;
      background-color: #1a1a1a;
    }
    
    &::after {
      bottom: 15vh;
      opacity: .5;
      border-radius: 47%;
      animation-duration: 10s;
      background-color: $color-accent;
    }

    @keyframes rotate {
      0% {transform: translate(-50%, 0) rotateZ(0deg);}
      50% {transform: translate(-50%, -2%) rotateZ(180deg);}
      100% {transform: translate(-50%, 0%) rotateZ(360deg);}
    }
  }
}